.label-btn {
  display: flex;
  font-weight: var(--font-weight-thin);
  outline: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  min-width: 80px;
  padding: var(--margin-sm) var(--margin-md);
  border: none;
  background: var(--color-dark-blue);
  color: white;
  border-radius: 25px;
  font-size: var(--font-size-md);
}

.label-btn:focus, .label-btn:hover {
  background-color: var(--color-xdark-blue);
}

.label-btn-active {
  background-color: var(--color-orange);
}

.label-btn-active:focus, .label-btn-active:hover {
  background-color: var(--color-dark-orange);
}