.key-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  height: 100%;
}

.key-editor__click-catcher {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  z-index: -1;
  height: 100%;
}

.key-editor__dialog {
  max-width: 706px;
  margin: var(--margin-xl) auto;
  border-radius: 15px;
  background: white;
}

.key-editor__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--margin-xl);
  border-bottom: 1px solid var(--color-gray);
}

.key-editor__title {
  font-size: var(--font-size-md);
  letter-spacing: 1px;
}

.key-editor__close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: var(--font-size-l);
}

.key-editor__footer {
  border-top: 1px solid var(--color-gray);
  padding: var(--margin-xl);
  display: flex;
  justify-content: flex-end;
}

.key-editor__row {
  padding: var(--margin-xl) var(--margin-xl) 0;
}

.key-editor__row:last-child {
  padding: var(--margin-xl);
}

.key-editor__label {
  font-weight: bold;
  padding-bottom: var(--margin-sm);
  display: block;
}

.key-editor__input {
  outline: none;
  padding: var(--margin-sm);
  display: block;
  width: 100%;
}

.tag-field {
  list-style: none;
  border: 1px solid var(--color-gray);
  display: flex;
  padding: var(--margin-sm);
  flex: 1 1 auto;
  align-items: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tag-field__tag {
  flex: 0 0 auto;
  display: flex;
  margin: var(--margin-xsm);
  justify-content: flex-end;
  align-items: center;
  padding: var(--margin-xsm);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}

.tag-field__li--label {
  margin: 0;
}

.tag-field__li--label {
  font-size: 11px;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-field__input-li {
  flex: 1 1 auto;
}

.tag-field__input {
  outline: none;
  padding: var(--margin-sm);
  display: block;
  width: 100%;
  border: none;
}

.tag-field__tag-ul + .tag-field__li,
.tag-field__li--input:focus-within ~ .tag-field__li {
  display: none;
}

.tag-field__remove {
  margin-left: var(--margin-sm);
  cursor: pointer;
}

.tag-field__tag-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}